body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

.ml-container {
	text-align: center;
	display: block;
	margin-left: auto;
  	margin-right: auto;
	margin-top: 40px;
}

header{
	background: #101a3f;
	border-bottom:#101a3f 3px solid;
	height:100px;
	width:100%;
	padding-top:30px;

}

header h2{
	text-align:center;
	color:#fff;

}

.btn-info {background-color: #101a3f;
	height:40px;
	width:100px;
	color: white;
	font-size: 15px;

} /* Blue */
.btn-info:hover {background: #061c34;}

.graph {
	/*width: 40%;*/
	/*height: 300px;*/
	display: inline-block;
	text-align: center;
}